:root {
	--indent: 125px;
	--mobile-indent: 30px;
	--font-unit: 1vw;
}

html {
	scrollbar-color:#00aeee white;
	scrollbar-width: auto;
}

body {
	background-color: #F6F8FF;
	font-family: Arial;
	display: flex;
	min-height: 100vh;
	margin: 0;
	flex-direction: column;
}

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: white; 
}
   
::-webkit-scrollbar-thumb {
	background:  #00aeee;
}
  
::-webkit-scrollbar-thumb:hover {
	background: #e12b4c; 
}

@media all and (max-width: 965px) {
	:root {
		--font-unit: 1.3vw;
	}
}
