.grid {
	display: grid;
	height: calc(100*var(--font-unit)/2 - 180px);
	margin: 90px var(--indent) 30px var(--indent);

	grid-template-columns: 1fr 1fr 1.3fr 0.7fr;
	grid-template-rows: 1fr repeat(5, 0.35fr);
	gap: 0px;
}

.card {
	position: relative;
}

.front-card {
	z-index: 100;
}

.back-card {
	z-index: 0;
	background-color: white;
	animation: background-appear 2s, 0, 0, 1;
	overflow-y: auto;
}

.front-card,
.back-card {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	display: flex;
}

.flip-card {
	perspective: 1000px;
	background-color: transparent;
}

.flip-back {
	position: relative;
	width: 100%;
	height: 100%;
	transition: transform 0.35s;
	transform-style: preserve-3d;
}

.flip-card .back-card {
	transform: rotateY(180deg);
}

.flip-card:hover .flip-back {
	transform: rotateY(180deg);
}

.flip-card .front-card,
.flip-card .back-card {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}

.flip-card .front-card {
	transform: rotateY(0deg);
}

.slip-right-card:hover .front-card {
	font-size: 0;
	left: 100%;
}

.slip-bottom-card:hover .front-card {
	font-size: 0px;
	top: 100%;
}

.slip-right-top-card:hover .front-card {
	font-size: 0px;
	left: 100%;
	bottom: 100%;
}


.slip-right-bottom-card:hover .front-card {
	font-size: 0px;
	left: 100%;
	top: 100%;
}

.slip-right-card .front-card {
	transition: 0.35s;
}

.slip-bottom-card .front-card {
	transition: 0.35s;
}

.slip-right-top-card .front-card {
	transition: 0.35s;
}

.slip-right-bottom-card .front-card {
	transition: 0.35s;
}

.centered-flex {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.join-button {
	width: 90px;
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #298ffe;
	font-size: 1.1em;
	padding: 2px;
	border: none;
	border-radius: 3px;
	position: relative;
	top: 50%;
  	left: 50%;
	transform: translate(-50%, -50%);
}

.join-button a,
.join-button a:visited {
	display: block;
	color: white;
	text-decoration: none;
}

.join-button:hover {
	background-color: #033b99;
	cursor: pointer;
}

.bsa-card {
	grid-area: 1 / 1 / 3 / 2;
}

.bsa-front-card {
	background-color: white;
}

.bsa-front-card img {
	width: 100%;
	object-fit: contain;
}

.js-card {
	grid-area: 1 / 2 / 5 / 3;
}

.js-front-card {
	background-color: #f7cf69;
	display: flex;
	justify-content: end;
	font-size: calc(7*var(--font-unit));
	font-weight: 700;
	align-items: flex-end;
	flex-direction: row-reverse;
	padding-right: 5px;
}

.back-text {
	font-weight: bold;
	font-size: calc(1.3*var(--font-unit));
	padding: 20px;
	line-height: 22px;
}

.info-text {
	font-size: calc(1.05*var(--font-unit));
	padding: 10px;
	line-height: calc(1.4*var(--font-unit));
}

.info-text:after {
	display: block;
	content: "";
	height: 15px;
}

.php-card {
	grid-area: 1 / 3 / 2 / 5;
}

.php-front-card {
	background-color: #8893c0;
	font-size: calc(6*var(--font-unit));
	font-style: italic;
}

.qa-card {
	grid-area: 3 / 1 / 7 / 2;
}

.qa-front-card {
	background-color: #52bf77;
	color: white;
	font-size: calc(6*var(--font-unit));
}

.java-card {
	grid-area: 5 / 2 / 7 / 3;
}

.java-front-card {
	background-color: #e12b4c;
	font-size: calc(2.7*var(--font-unit));
	color: white;
}

.net-card {
	grid-area: 2 / 3 / 7 / 4;
}

.net-front-card {
	background-color: #642077;
	color: white;
	font-size: calc(6*var(--font-unit));
}

.informational-card {
	color: white;
	font-size: calc(1.15*var(--font-unit));
}

.events-card {
	grid-area: 2 / 4 / 4 / 5;
}

.events-front-card {
	background-color: #2d99ff;
}

.blog-card {
	grid-area: 4 / 4 / 6 / 5;
}

.blog-front-card {
	background-color: #0443a3;
}

.contacts-card {
	grid-area: 6 / 4 / 7 / 5;
}

.contacts-front-card {
	background-color: #00265f;
}

.contacts-icons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: calc(2*var(--font-unit));
}

.contacts-icons i {
	cursor: pointer;
	margin: calc(0.4*var(--font-unit));
}

.contacts-icons i:hover {
	color: #298ffe;
}

@media all and (max-width: 965px) {
	.grid {
		margin: 100px var(--mobile-indent) 0 var(--mobile-indent);
		grid-template-columns: 2fr 0.3fr 1.3fr 0.9fr;
		grid-template-rows: 0.9fr 0.9fr 0.8fr 1.3fr 1.3fr;
		height: calc(100*var(--font-unit)/1.2);
	}

	.grid:after {
		display: block;
		content: "";
		height: 30px;
	}

	.bsa-card {
		grid-area: 1 / 1 / 4 / 2;
	}

	.js-card {
		grid-area: 1 / 2 / 4 / 4;
	}

	.java-card {
		grid-area: 4 / 1 / 5 / 3;
	}

	.qa-card {
		grid-area: 5 / 1 / 6 / 3;
	}

	.php-card {
		grid-area: 4 / 3 / 5 / 5;
	}

	.net-card {
		grid-area: 5 / 3 / 6 / 5;
	}

	.events-card {
		grid-area: 1 / 4 / 2 / 5;
	}

	.blog-card {
		grid-area: 2 / 4 / 3 / 5;
	}

	.contacts-card {
		grid-area: 3 / 4 / 4 / 5;
	}
}

@keyframes background-appear {
	from { opacity: 0; }
	to { opacity: 1; }
}
