.header {
	width: 100%;
	height: 50px;
	position: fixed;
	display: flex;
    flex-direction: row;
    justify-content: space-between;
	background: #ffffff;
	top: 0;
	left: 0;
	z-index: 999;
	animation: header-top-appear 0.9s;
}

.header-profile-section {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-right: var(--indent);
	position: relative;
}

.bsa-logo {
	height: 92%;
	width: auto;
	margin-left: var(--indent);
}

.bell-wrapper {
	cursor: pointer;
	width: auto;
	height: 100%;
	color: #b6c0cf;
	display: flex;
    align-items: center;
	justify-content: space-around;
	margin-right: 18px;
}

.bell-wrapper:hover {
	color: #9C9FA6;
}

.bell-icon {
	font-size: 1em;
}

.profile-logo {
	background-color: #f8991c;
	height: 30px;
	width: 30px;
	display: flex;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	position: relative;
}

.profile-logo:hover {
	background-color: #fe8407;
}

.profile-logo-icon {
	color: white;
	font-size: 17px;
}

.profile-logo input {
	width: 30px;
	height: 30px;
	outline: none;
	position: absolute;
	display: block;
	cursor: pointer;
	opacity: 0;
	left: -4px;
	top: -3px;
	z-index: 1000;
}
 
.profile-logo input:checked ~ .user-menu {
	animation: menu-appear 0.5s;
	transform: none;
	opacity: 1;
}

.user-menu {
	position: absolute;
	width: 130px;
	right: 0;
	top: 33px;
	transform: translate(0%, -200%);
	padding: 5px 15px 0px 15px;
	background: white;
	box-shadow: 0 0 10px rgba(75, 85, 104, 0.2);
	opacity: 0;
}
 
.user-menu-list {
	list-style-type: none;
	font-size: 13px;
	padding: 0px;
	margin-top: -2px;
	font-weight: bolder;
	margin-bottom: 6px;
}
  
.user-menu-list li {
	padding: 4px;
	transition: 0.6s;
	cursor: pointer;
}

.user-menu-list li:hover {
	background-color: #f4f7fd;
}

.user-menu-list a,
 .user-menu-list a:visited {
	text-decoration: none;
	color: #212327;
	display: block;
}

.user-name {
	color: #a3a7ab;
	font-size: 12px;
	line-height: 6px;
	text-align: center;
	padding-top: 7px;
	cursor: default;
}

@keyframes menu-appear {
	from { opacity: 0; }
	to {opacity: 1; }
}

@keyframes header-top-appear {
	  from { top: -70px; }
	  to { top: 0px; }
}

@media all and (max-width: 965px) {
	.bsa-logo {
		margin-left: var(--mobile-indent);
	}

	.header-profile-section {
		margin-right: var(--mobile-indent);
	}
}
