.messages {
	display: flex;
	flex-direction: column;
	position: fixed;
	right: 10px;
	bottom: 10px;
	z-index: 200;
	color: white;
}

.message {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	opacity: 0.8;
	border-radius: 3px;
	margin: 5px;
}

.message-text {
	font-size: 14px;
	width: 130px;
	line-height: 16px;
	margin: 10px 10px 10px 2px;
}

.message-text p {
	line-height: 17px ;
	margin-top: 0 ;
	margin-bottom: 0 ;
}

.message-text .status {
	font-weight: 700;
}

.message-icon {
	align-self: center;
	justify-content: center;
	padding: 10px;
	font-size: 24px;
}

.red-bckg {
	background-color: rgb(223, 44, 35, 0.95);
}

.green-bckg {
	background-color: rgba(25, 161, 70, 0.95);
}
